#main{
    background-color: #ededed;
    border-radius: 0.5%;
    padding: 1px 20px 10px 20px;
}

#title {
    font-size: 60px;
    text-align: center;
    font-family: Times New Roman, Serif;
}

#img-div {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 20px 20px 20px;
    justify-content: center;
}

#image {
    padding-bottom: 15px;
    height: 500px;
    width: 500px;
}

#image-caption {
    font-family: Monaco, Monospace;
    font-size: 40px;
}

#tribute-info {
    font-family: Papyrus, Fantasy;
    text-align: center;
}
